<ul>
<label> Search through existing rooms here</label>
<%= form_tag user_rooms_path(@user), method: "get" do %>
    <%= text_field_tag :query %>
    <%= submit_tag :search, class: "btn purple darken-1" %>
    
<% end %>
<h4 class="alignleft">Rooms:</h4>
<%= link_to "Create A New Room", new_user_room_path(current_user) %>
<br>
<table class="highlight"> 
    <thead>
    <tr>
        <th> Room Name </th>
        <% if current_user == @user %>
        <th>Location</th>
        <th>Description</th>
        <th>Performance Charge?</th>
        <% end%>
    </tr>
    </thead>
    <tbody>
    <% @rooms.each do |r|%>
    <tr>
    <td><%= link_to r.name, user_rooms_path(@user, r) %></td>
     <td><%= r.location %></td>
    <td><%=  r.description %></td>
    <td><%=  r.performance_charge %></td>
    </tr>
    <% end %>
    </tbody>
</table>
