<!DOCTYPE html>
<html>
  <head>
    <title>JokeBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
    <nav class="purple darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">JokeBook</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in?%>
        <li><%= link_to "Make a Joke", new_user_joke_path(current_user) %></li>
        <li><%= link_to "Show Rooms", user_rooms_path(current_user) %></li>
        <li><%= link_to "My Jokes", user_jokes_path(current_user) %></li>
        <li><%= link_to "Logout", logout_path, method: "delete" %></li>
      <%else%>
              <li><%= link_to "Signup", signup_path %></li>
              <li><%= link_to "Login", login_path %></li>
      <% end %>
     

      </ul>
    </div>
  </nav> 
    <%= yield %>
    
  </body>
</html>
